### 1 Серия задач

Имеется строка

In [2]:
planets = "Меркурий Венера Марс Jupiter Сатурн Уран Нептун"

Сделайте из него список (.split()) и сохраните как planet_list.

In [25]:
planets = "Меркурий Венера Марс Jupiter Сатурн Уран Нептун"
planet_list = planets.split()
planet_list.append('Плутон')
print(planet_list)

['Меркурий', 'Венера', 'Марс', 'Jupiter', 'Сатурн', 'Уран', 'Нептун', 'Плутон']

Добавьте в этот список последним "Плутон"

In [27]:
planet_list.insert(2, 'Земля')
print(planet_list)

['Меркурий', 'Венера', 'Земля', 'Марс', 'Jupiter', 'Сатурн', 'Уран', 'Нептун', 'Плутон']

Между "Венера" и "Марс" добавьте "Земля"

In [30]:
planet_list[4] = 'Юпитер'
print(planet_list)

['Меркурий', 'Венера', 'Земля', 'Марс', 'Юпитер', 'Сатурн', 'Уран', 'Нептун', 'Плутон']

"Jupiter" переименуйте на "Юпитер" одной строкой кода

In [31]:
planet_list.remove('Плутон')
print(planet_list)

['Меркурий', 'Венера', 'Земля', 'Марс', 'Юпитер', 'Сатурн', 'Уран', 'Нептун']

Оказывается Плутон не планета. Удалите "Плутон" из нашего списка.

In [34]:
print(len(planet_list))

8

Выведите количество планет в списке.

In [37]:
slice_obj = slice(1, 4)
print(planet_list[slice_obj])

['Венера', 'Земля', 'Марс']

Покажите, используя срезы (slices) три планеты - Венера, Земля, Марс

In [41]:
slice_obj2 = slice(6, 8)
print(planet_list[slice_obj2])

['Уран', 'Нептун']

Используя срезу покажите две последние планеты

### 2 Серия задач

Имеется таблица:

|  Student | Mark |
| --- | --- |
| Джон | 4 |
| Сара | 5 |
| Девид | 5 |
| Марк | 3 |
| Клара | 2 |
| Сэм | 2 |
| Санта | 4 |
| Крис | 5 |
| Джастин | 4 |

Имеются два столбца. Создайте два списка (Student и Mark). В первом будут имена студентов по порядку, указанному в таблице. Во втором списке в таком же порядке их оценки.

In [ ]:
# Создайте здесь списки
student = ['Джон', "Сара", "Девид", "Марк", "Клара", "Сэм", "Санта", "Крис", "Джастин"]
mark = [4, 5, 5, 3, 2, 2, 4, 5, 4]

Добавился студент по имени Рассел и с оценкой 5. Добавьте его имя и оценки в соответствующие списки.

In [43]:
student = ['Джон', "Сара", "Девид", "Марк", "Клара", "Сэм", "Санта", "Крис", "Джастин"]
mark = [4, 5, 5, 3, 2, 2, 4, 5, 4]

student.append('Рассел')
mark.append(5)
print(student)
print(mark)

['Джон', 'Сара', 'Девид', 'Марк', 'Клара', 'Сэм', 'Санта', 'Крис', 'Джастин', 'Рассел']
[4, 5, 5, 3, 2, 2, 4, 5, 4, 5]

Выведите количество студентов в списке

In [44]:
print(len(student))

10

Проверьте, имеется ли в списке студентов студент по имени Марк. Если ИСТИНА, выведите "да", иначе "нет".

In [46]:
if 'Марк' in student:
    print('да')
else:
    print('нет')

да

Пробежитесь в цикле и выведите из двух списков значения таким образом, чтобы на каждой строке печаталось по следущему образцу:

"У студента по имени Джастин 4 балла"

In [48]:
for i in range(len(student)):
    print(f'У студента по имени {student[i]} {mark[i]} балла')

У студента по имени Джон 4 балла
У студента по имени Сара 5 балла
У студента по имени Девид 5 балла
У студента по имени Марк 3 балла
У студента по имени Клара 2 балла
У студента по имени Сэм 2 балла
У студента по имени Санта 4 балла
У студента по имени Крис 5 балла
У студента по имени Джастин 4 балла
У студента по имени Рассел 5 балла

Создайте копии списков: Student_2, Mark_2.

In [54]:
student_2 = student.copy()
mark_2 = mark.copy()

print(student_2)
print(mark_2)

['Джон', 'Сара', 'Девид', 'Марк', 'Клара', 'Сэм', 'Санта', 'Крис', 'Джастин', 'Рассел']
[4, 5, 5, 3, 2, 2, 4, 5, 4, 5]

Из оригинальных списков (не копий) удалите студентов и их оценки, если у них 2 балла. (можно вручную по одному, либо в цикле проверяя условие: если оценка == 2.

In [55]:
student.pop(4)
mark.pop(4)
student.pop(4)
mark.pop(4)
print(student)
print(mark)

['Джон', 'Сара', 'Девид', 'Марк', 'Санта', 'Крис', 'Джастин', 'Рассел']
[4, 5, 5, 3, 4, 5, 4, 5]

Выведите с 3 по 5 включительно имена студентов.

In [57]:
slice_obj = slice(3,6)
print(student[slice_obj])

['Марк', 'Санта', 'Крис']

Выведите имена студентов через раз. Джон, Девид, Клара... и тд

In [56]:
for i in range(0, len(student), 2):
    print(student[i])

Джон
Девид
Санта
Джастин

У вас сохранились копии списков (Student_2, Mark_2). Там в копии списков если оценка равна 2 - поставьте оценку 3.

In [58]:
mark_2[4] = 3
mark_2[5] = 3
print(mark_2)

[4, 5, 5, 3, 3, 3, 4, 5, 4, 5]

Посчитайте у скольких студентов оценка 5

In [59]:
print(mark.count(5))

4

Выведите имена отличников (у кого 5). Через цикл и условие если оценка == 5.

In [60]:
for i in range(len(mark)):
    if mark[i] == 5:
        print(student[i])

Сара
Девид
Крис
Рассел